* {
  font-weight: 100;
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #12171C;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  color: white;
  font-size: 1.25rem;
  padding: 0.375rem 4rem;
  background-color: #405286;
  border: 1px solid #616885;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}

.alert-custom {
  position: fixed;
  top: 2rem;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 31.25rem;
  z-index: 99999;
}
.alert-custom a {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  line-height: 0 !important;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
}
#deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#deck .deck-title {
  color: white;
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 2rem;
}
#deck .deck-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}
#deck .deck-list .deck {
  width: 16.25rem;
  height: 30rem;
  margin: 2rem;
}
#deck .deck-list .deck .deck-1 {
  width: 16.25rem;
  height: 27.5rem;
  margin-bottom: 1rem;
  background-image: url("../images/deck/deck-1.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1.25rem #546072;
          box-shadow: 0px 0px 1.25rem #546072;
}
#deck .deck-list .deck .deck-1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}
#deck .deck-list .deck .deck-2 {
  width: 16.25rem;
  height: 27.5rem;
  margin-bottom: 1rem;
  background-image: url("../images/deck/deck-2.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
}
#deck .deck-list .deck .deck-2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}
#deck .deck-list .deck .deck-3 {
  width: 16.25rem;
  height: 27.5rem;
  margin-bottom: 1rem;
  background-image: url("../images/deck/deck-3.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1.25rem #D2C796;
          box-shadow: 0px 0px 1.25rem #D2C796;
}
#deck .deck-list .deck .deck-3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}
#deck .deck-list .deck .deck-4 {
  width: 16.25rem;
  height: 27.5rem;
  margin-bottom: 1rem;
  background-image: url("../images/deck/deck-4.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1.25rem #973B3A;
          box-shadow: 0px 0px 1.25rem #973B3A;
}
#deck .deck-list .deck .deck-4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}
#deck .deck-list .deck .deck-5 {
  width: 16.25rem;
  height: 27.5rem;
  margin-bottom: 1rem;
  background-image: url("../images/deck/deck-5.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1.25rem #6e43cb;
          box-shadow: 0px 0px 1.25rem #6e43cb;
}
#deck .deck-list .deck .deck-5:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}
#deck .deck-list .deck .deck-name {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.5rem;
}

#deck-model .modal-lg {
  min-width: 75rem;
  max-width: 75rem;
}
#deck-model .modal-content {
  background-color: #12171C;
}
#deck-model .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 37.5rem;
}
#deck-model .modal-body .deck-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#deck-model .modal-body .deck-list-box.deck-1 .card {
  background-image: url("../images/deck/deck-1.jpg");
  -webkit-box-shadow: 0px 0px 1.25rem #546072;
          box-shadow: 0px 0px 1.25rem #546072;
}
#deck-model .modal-body .deck-list-box.deck-2 .card {
  background-image: url("../images/deck/deck-2.jpg");
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
}
#deck-model .modal-body .deck-list-box.deck-3 .card {
  background-image: url("../images/deck/deck-3.jpg");
  -webkit-box-shadow: 0px 0px 1.25rem #D2C796;
          box-shadow: 0px 0px 1.25rem #D2C796;
}
#deck-model .modal-body .deck-list-box.deck-4 .card {
  background-image: url("../images/deck/deck-4.jpg");
  -webkit-box-shadow: 0px 0px 1.25rem #973B3A;
          box-shadow: 0px 0px 1.25rem #973B3A;
}
#deck-model .modal-body .deck-list-box.deck-5 .card {
  background-image: url("../images/deck/deck-5.jpg");
  -webkit-box-shadow: 0px 0px 1.25rem #6e43cb;
          box-shadow: 0px 0px 1.25rem #6e43cb;
}
#deck-model .modal-body .deck-list-box .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 8.125rem;
  height: 13.75rem;
  margin: 1rem 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}
#deck-model .modal-body .deck-list-box .card-item.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#deck-model .modal-body .deck-list-box .card-item .card {
  width: 8.125rem;
  height: 13.75rem;
  background-size: cover;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#deck-model .modal-body .deck-list-box .card-item .card:hover {
  opacity: 0.6;
}
#deck-model .modal-body .deck-list-box .card-item .card-front,
#deck-model .modal-body .deck-list-box .card-item .card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#deck-model .modal-body .deck-list-box .card-item .card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#deck-model .modal-body .deck-list-box .card-item .card-front .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  height: 90%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
  border-radius: 0.25rem;
}
#deck-model .modal-body button {
  margin: 0 2rem;
}/*# sourceMappingURL=deck.css.map */