* {
  font-weight: 100;
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #12171C;
}

h1,
h2,
h3,
h4,
h5,
p,
label {
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  color: white;
  font-size: 1.25rem;
  padding: 0.375rem 4rem;
  background-color: #405286;
  border: 1px solid #616885;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}

.alert-custom {
  position: fixed;
  top: 2rem;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 31.25rem;
  z-index: 99999;
}
.alert-custom a {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  line-height: 0 !important;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
}
#decklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}
#decklist .decks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  min-height: 80%;
  color: white;
}
#decklist .decks .deck-top {
  width: 100%;
  height: 3.125rem;
}
#decklist .decks .deck-top .deck-title {
  width: 50%;
  height: auto;
  float: left;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.125rem;
}
#decklist .decks .deck-top hr {
  overflow: auto;
}
#decklist .decks .deck-top .deck-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
  float: left;
}
#decklist .decks .deck-top .deck-options button {
  margin: 0 0 0 1rem;
}
#decklist .decks .deck-top .deck-line {
  width: 100%;
  border: none;
  border-top: 1px solid #454955;
}
#decklist .decks .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#decklist .decks .card-list .card-list-header {
  width: 100%;
}
#decklist .decks .card-list .card-list-header h2 {
  font-size: 1.5rem;
  font-weight: 100;
}
#decklist .decks .card-list .card-list-header .deck-line {
  border: 1px solid white;
}
#decklist .decks .card-list .card-item {
  width: 15rem;
  height: 30rem;
  margin: 1rem;
}
#decklist .decks .card-list .card-item .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 25.625rem;
  margin-bottom: 0.5rem;
  background-image: url("../images/deck/deck-2.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1rem #7FE4C5;
          box-shadow: 0px 0px 1rem #7FE4C5;
}
#decklist .decks .card-list .card-item .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  text-align: center;
}
#decklist .decks .card-list .card-item .card-info .delete-button {
  background-color: #af2222;
  border: 1px solid #a75555;
}
#decklist .decks .card-list .card-item .card-name {
  text-align: center;
  font-size: 1.5rem;
}
#decklist .decks .card-list .card-item .card-text {
  font-size: 1rem;
}

#card-model .modal-lg {
  min-width: 76rem;
  max-width: 76rem;
}
#card-model .modal-content {
  background-color: #12171C;
}
#card-model .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37.5rem;
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
  overflow: auto;
}
#card-model .modal-body .title {
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
}
#card-model .modal-body .card-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}
#card-model .modal-body .card-list-box .add-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 8.125rem;
  height: 13.75rem;
  margin: 1rem 2rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
#card-model .modal-body .card-list-box .add-card-item:hover {
  opacity: 0.8;
}
#card-model .modal-body .card-list-box .add-card-item .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.125rem;
  height: 13.75rem;
  background-image: url("../images/deck/deck-2.jpg");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#card-model .modal-body .card-list-box .add-card-item .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  height: 90%;
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
  border-radius: 0.25rem;
}
#card-model .modal-body .card-list-box .add-card-item .card .card-info button {
  padding: 5px 10px;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  line-height: 0;
}
#card-model button {
  margin: 0 2rem;
}

#take-model .modal-lg {
  min-width: 76rem;
  max-width: 76rem;
}
#take-model .modal-content {
  background-color: #12171C;
}
#take-model .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37.5rem;
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
  overflow: auto;
}
#take-model .modal-body .take-title {
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
}
#take-model .modal-body .take-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}
#take-model .modal-body .take-list-box .take-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 8.125rem;
  height: 13.75rem;
  margin: 1rem 2rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
#take-model .modal-body .take-list-box .take-item:hover {
  opacity: 0.8;
}
#take-model .modal-body .take-list-box .take-item .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.125rem;
  height: 13.75rem;
  background-image: url("../images/deck/deck-2.jpg");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 1.25rem #7FE4C5;
          box-shadow: 0px 0px 1.25rem #7FE4C5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#take-model .modal-body .take-list-box .take-item .card .take-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  height: 90%;
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
  border-radius: 0.25rem;
}
#take-model .modal-body .take-list-box .take-item .card .take-info button {
  padding: 5px 10px;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  line-height: 0;
}
#take-model button {
  margin: 0 2rem;
}/*# sourceMappingURL=decklist.css.map */