* {
    font-weight: 100;
    outline: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #12171C;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

// 默认按钮样式
.button {
    color: white;
    font-size: 1.25rem;
    padding: 0.375rem 4rem;
    background-color: #405286;
    border: 1px solid #616885;
    transition: opacity .5s;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

// 提示框样式
.alert-custom {
    position: fixed;
    top: 2rem;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 31.25rem;
    z-index: 99999;

    a {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        line-height: 0 !important;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

// 1200px - 1600px
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    html {
        font-size: 12px;
    }
}

// 500px - 1199px
@media only screen and (min-width: 500px) and (max-width: 1199px) {
    html {
        font-size: 10px;
    }
}