@use "app.scss";

#decklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 4rem;

    // 卡牌列表
    .decks {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 80%;
        min-height: 80%;
        color: white;

        // 卡牌头部
        .deck-top {
            width: 100%;
            height: 3.125rem;

            // 卡牌名称
            .deck-title {
                width: 50%;
                height: auto;
                float: left;
                letter-spacing: 0.125rem;
            }

            // 卡牌操作
            .deck-options {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                width: 50%;
                height: auto;
                float: left;
            }

            // 卡牌分割线
            .deck-line {
                width: 100%;
                border: none;
                border-top: 1px solid #454955;
            }
        }


        // 卡牌列表
        .card-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            height: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .card-item {
                width: 15rem;
                height: 30rem;
                margin: 1rem;

                .card-1 {
                    width: 100%;
                    height: 25.625rem;
                    margin-bottom: 0.5rem;
                    transition: opacity .5s;
                    background-image: url('../images/deck/deck-2.jpg');
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .card-name {
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}