@use "app.scss";

$imgWidth: 55rem;
$imgHeight: 30.9375rem;

// 地图面板样式
#map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 0.25rem;

    // 地图标题
    .map-title {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        color: white;
    }

    // 地图列表
    .map-roll-list {
        width: $imgWidth;
        height: $imgHeight;
        margin-bottom: 2rem;
        overflow: hidden;

        .map-list {
            display: flex;

            img {
                width: $imgWidth;
                height: $imgHeight;
                margin-right: 2rem;
                background-size: cover;
            }
        }
    }

    // 地图文本
    .map-text {
        height: 4rem;
        margin-bottom: 2rem;
        color: white;
        opacity: 0;
        transition: all 1s;
    }

    // 抽取按钮
    .map-button {
        background-color: rgb(73, 125, 230);
        outline: none !important;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
        color: white;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

}